.active {
    font-weight: bold;
    transition: opacity 0.5s linear;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display:block;
}

.transitioning {
    opacity: 0;
    display: block;
    transition: opacity 0.5s linear;
}
